.name {
  font-weight: 600;
}
.scope-overlay {
  border: 2px solid rgba(255,0,0,0.5);
  pointer-events: none;
  z-index: 999999999;
}
.item {
  padding-left: 10px;
}

.item.spring {
  color: rgba(0,0,0,0.8);
  font-weight: 500;
}
.item.string {
  color: rgba(0,0,0,0.4);
  font-weight: 100;
}
.item.number {
  color: rgba(0,0,0,0.6);
  font-weight: 400;
}
.item.unknown {
  color: rgba(0,0,0,0.4);
}
