html {
  font: 300 16px/1.3em 'Segoe UI', sans-serif;
  font: 300 10px/1.3em 'Segoe UI', sans-serif;
  background-color: #eee;
  background-color: #c1c1c1;
}
h2 {
  font: 400 1.5rem/1.3em 'Segoe UI', sans-serif;
  margin: 1rem 0 0 0;
}
.dialog {
  // background-color: #fff;
}
.dialogtitle {
  font: 600 1.2rem /1.3em'Segoe UI', sans-serif;
  margin: 1rem;
}
.dialogcontent {
  font: 500 1rem/1.3em 'Segoe UI', sans-serif;
  margin: 1rem;
  // color: rgba(0,0,0,0.6);
}
.form {
  width: 20rem;
  margin: 0 auto;
}
.form-contents {
  padding: 24px;
}
.form-actions {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
