@import '../theme';

.component {
  box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 0 16/@rem;
    min-width: 64/@rem;
    text-align: center;
    text-transform: uppercase;
    will-change: box-shadow;
    line-height: 36/@rem;
    font-weight: 500;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.round {
    padding: 0;
    width: 36/@rem;
    min-width: initial;
}

.round.big {
  width: (36/@rem)*1.5;
  font-size: (36/@rem)*0.8;
  line-height: (36/@rem)*1.5;
}
