.component {
  padding-top: 0.5rem;
}
.label {
  color: rgba(0,0,0,0.5);
  line-height: 0;
  transition: font-size 0.3s ease, margin-top 0.3s ease, transform 0.3s ease;
  margin-top: 0rem;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  z-index: 1
}
.input {
  display: block;
}
.label.contents {
  font-size: .75rem;
  margin-top: 0rem;
}
