@import '../theme';

.component {
  box-sizing:border-box;
  padding-top:8/@rem;
  padding-bottom:8/@rem;
  user-select:none;
}
.label {
  font-size:16/@rem;
  font-weight:400;
  line-height:12/@rem;
  position:relative;
  z-index:1;
  display:block;
  height:12/@rem;
  margin-top:8/@rem;
  pointer-events:none;
}
.input {
  font-weight:400;
  line-height:16/@rem;
  z-index:0;
  width:100%;
  margin-top:8/@rem;
  user-select:initial;
}
.bar {
}
.helper {
  font-size:12/@rem;
  font-weight:400;
  line-height:12/@rem;
  position:relative;
  display:block;
  height:12/@rem;
  margin-top:8/@rem;
  pointer-events:none;
}
.focus {
  color:#1976d2;
}
.error {
  color:#d32f2f;
}
